:root {
  --primary: #0d7560;
  --secondary: #0ab586;
  --tertiary: #82e0b8;
  --fontWhite: white;
  --font: #e4f3ed;
  --fontBox: #84e2ba;
  --radiusBox: 8px;
  --radiusBtn: 8px;
  --text: #0d7559;
  --textReverse: #ffffff;
}

.theme-dark {
  --font: #0d7559;
  --text: #def0e9;
  --textReverse: #0d7559;
  --fontWhite: darkgray;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--text);
  background: var(--primary);
}

#root, #app {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin-inline-start: 0;
}

a, nav a, li span, td a {
  text-decoration: none;
  transition: 0.3s ease;
}

input:focus,
select:focus,
textarea:focus,
input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus,
a:focus, .btn-close:focus {
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.content-layout {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  padding: 10px;
  display: flex;
  gap: 3px;
}
.content-layout ul {
  margin-inline-start: 0;
}
@media (max-width: 800px) {
  .content-layout {
    flex-direction: column-reverse;
  }
}

main {
  background-color: var(--font);
  padding: 20px 25px;
  flex: 1;
  border-radius: var(--radiusBox);
  display: flex;
  flex-direction: column;
}
main .main-content {
  flex: 1;
}
@media (max-width: 800px) {
  main {
    padding: 15px;
  }
  main .logo img {
    filter: drop-shadow(0 0 3px rgba(8, 27, 16, 0.2));
  }
}
@media (max-height: 450px) {
  main .logo-desktop {
    display: none;
  }
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo img {
  width: 55px;
}

.menu {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0 20px;
  gap: 30px;
  transition: 0.2s;
  width: 70px;
  z-index: 10;
}
@media (max-width: 800px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    overflow: auto;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
.menu:hover {
  width: 170px;
}
.menu:hover a span {
  transition: 0.2s;
  max-height: 400px;
  opacity: 1;
}
@media (max-width: 800px) {
  .menu:hover {
    width: 100%;
  }
  .menu:hover a span {
    max-height: auto;
    display: none;
  }
}

.menu-nav-content {
  overflow: hidden;
  overflow-y: auto;
}

.menu-nav {
  padding: 0 5px;
}
@media (max-width: 800px) {
  .menu-nav {
    height: 100%;
  }
}
.menu-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.menu-nav ul li {
  width: 100%;
}
.menu-nav ul li.selected {
  background-color: var(--secondary);
  border-radius: var(--radiusBtn);
}
@media (max-width: 800px) {
  .menu-nav ul {
    flex-direction: row;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .menu-nav ul li {
    width: auto;
  }
}
.menu-nav a {
  color: var(--textReverse);
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 13pt;
  padding: 10px 17px;
  border-radius: 15px;
  position: relative;
  width: 100%;
  transition: 0.2s;
}
.menu-nav a svg {
  font-size: 20pt;
}
.menu-nav a:hover {
  color: var(--tertiary);
}
.menu-nav a.active {
  background-color: var(--secondary);
}
.menu-nav a span {
  opacity: 0;
  max-height: 0;
}
@media (max-width: 800px) {
  .menu-nav a {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 5px;
  }
  .menu-nav a span {
    display: none;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 800px) {
  header {
    background-color: var(--font);
    padding: 0 10px;
  }
}

.main-outlet {
  padding: 10px 0;
}

.submenu, .subsubmenu {
  width: 0px;
  transition: width 0.2s ease;
  overflow: hidden;
  overflow-y: auto;
}
.submenu.open, .subsubmenu.open {
  width: 190px;
}
@media (max-width: 800px) {
  .submenu, .subsubmenu {
    width: 100%;
    height: 0;
    transition: height 0.2s ease;
    overflow-y: initial;
    overflow-x: auto;
  }
  .submenu.open, .subsubmenu.open {
    width: 100%;
    height: 75px;
  }
}
.submenu ul, .subsubmenu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  height: 100%;
}
.submenu ul li, .subsubmenu ul li {
  width: 100%;
  padding: 10px;
  border-radius: var(--radiusBox);
}
.submenu ul li.selected, .subsubmenu ul li.selected {
  background-color: var(--tertiary);
}
@media (max-width: 800px) {
  .submenu ul, .subsubmenu ul {
    flex-direction: row;
    overflow: auto;
    align-items: center;
    gap: 15px;
  }
  .submenu ul li, .subsubmenu ul li {
    width: auto;
  }
}
.submenu a, .subsubmenu a {
  color: var(--textReverse);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13pt;
  border-radius: 15px;
  position: relative;
  width: 100%;
}
.submenu a svg, .subsubmenu a svg {
  font-size: 18pt;
}
.submenu a:hover, .subsubmenu a:hover {
  opacity: 0.7;
}
.submenu a.active, .subsubmenu a.active {
  background-color: var(--secondary);
}
@media (max-width: 800px) {
  .submenu a, .subsubmenu a {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.submenu.open {
  margin-right: 5px;
}
@media (max-width: 800px) {
  .submenu.open {
    margin-top: 5px;
    margin-bottom: 47px;
  }
}

.subsubmenu.open {
  margin-right: 5px;
}
@media (max-width: 800px) {
  .subsubmenu.open {
    margin-top: 5px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  opacity: 0.6;
}
footer hr {
  width: 100%;
}

@media (max-width: 374px) {
  .syringe-icon {
    display: none;
  }
}
@media (min-width: 546px) and (max-width: 800px) {
  .syringe-icon {
    display: none;
  }
}

.table {
  background-color: var(--fontBox);
  border-radius: var(--radiusBox);
  color: var(--text);
  border-bottom: 1px solid var(--tertiary);
  border-left: 1px solid var(--tertiary);
  border-top: 1px solid var(--tertiary);
}
.table tr, .table td, .table th {
  color: var(--text);
}
.table th {
  background-color: var(--primary);
}
.table th div {
  color: var(--textReverse);
}
.table td, .table th {
  border-right: 1px solid var(--tertiary);
}
.table td {
  overflow: visible;
}
.table tr:not(:last-child) td {
  border-bottom: 1px solid var(--tertiary);
}
.table .css-i7pdg7-getRowContainerStyle-Row:not(:last-of-type) > .td {
  border-bottom: 1px solid var(--tertiary);
}
.table .css-19pq5fe-HEADER_CELL_CONTAINER_STYLE-HeaderCell .resizer-handle {
  opacity: 0;
}
@media (max-width: 768px) {
  .table .resizer-handle {
    display: none !important;
  }
  .table .table-library_table {
    display: none;
  }
  .table .table {
    overflow-y: visible;
  }
  .table .overflow-y-auto {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
  }
}

.modal {
  max-height: 100%;
}

input:disabled, select:disabled, textarea:disabled {
  background-color: #cee0d4;
}

.animations-pulse-content {
  position: relative;
  height: 72px;
  width: 200px;
}
.animations-pulse-content .animation-pulse,
.animations-pulse-content .animation-pulse2,
.animations-pulse-content .animation-pulse3 {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  bottom: -17px;
  right: -5px;
  margin: auto;
  z-index: 1;
}
.animations-pulse-content .animation-pulse:after,
.animations-pulse-content .animation-pulse2:after,
.animations-pulse-content .animation-pulse3:after {
  content: "";
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 100px"><polyline fill="none" stroke-width="2px" stroke="aquamarine" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: 2s pulse infinite linear;
}
.animations-pulse-content .animation-pulse2,
.animations-pulse-content .animation-pulse3 {
  position: absolute;
}
.animations-pulse-content .animation-pulse2:after,
.animations-pulse-content .animation-pulse3:after {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200px 100px"><polyline fill="none" stroke-width="2px" stroke="yellow" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: 0.7s pulse infinite linear;
}
.animations-pulse-content .animation-pulse3:after {
  background: red;
  width: 95%;
  height: 2px;
  position: absolute;
  bottom: 45px;
  right: 6px;
  animation: none;
}

@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  10% {
    clip: rect(0, 66.6666666667px, 100px, 0);
  }
  38% {
    clip: rect(0, 133.3333333333px, 100px, 0);
  }
  48% {
    clip: rect(0, 200px, 100px, 0);
  }
  52% {
    clip: rect(0, 200px, 100px, 0);
  }
  62% {
    clip: rect(0, 200px, 100px, 66.6666666667px);
  }
  90% {
    clip: rect(0, 200px, 100px, 133.3333333333px);
  }
  100% {
    clip: rect(0, 200px, 100px, 200px);
  }
}/*# sourceMappingURL=Theme.css.map */